extends layout 

block header
  link(rel='stylesheet', href='/stylesheets/chat.css')

block content
  
  .container
    .left-side
      p Sentence describing the desired output, and maybe what the prompt should be.
        .text-container  
            .prompts
              each prompt in prompts
                .bubble
                  .text-length
                  span= prompt
                  br
        form(action='/users/chat', method='POST')
          .v-textfield
            input(type='text', name='prompt', placeholder='Enter prompt here', autofocus='')
            button(type='submit') Enter
          
    .right-side
      
        