extends layout 

block header
  link(rel='stylesheet', href='/stylesheets/dataset.css')

block content
    .page-container
      h1(id = "headline")=headline
      hr
      p(id = "content")=content
      