
:root {
  --accent-color-light: rgb(212, 64, 64);
  --accent-color: rgb(180, 34, 63);
  --accent-color-dark: rgb(118, 19, 53);

  --primary-color-lighter: #e4ecef;
  --primary-color-light: #666d79;
  --primary-color: #2C2F39;
  --primary-color-dark: #1d1e28;
  --primary-color-darker: #07040e;

  --text-color-light: var(--primary-color-lighter);
  --text-color-dark: var(--primary-color-darker);
  --text-color-highlight: var(--accent-color);

  --serif-fonts: 'Poppins', serif;
  --sans-fonts: 'Poppins', sans-serif;

  --top-bar-height: 0;
}

::selection {
  background-color: var(--accent-color);
  color: var(--text-color-light);
}

body {
  margin: 0;
  overflow-x: hidden;

  color: var(--text-color-light);
  background-color: var(--primary-color-darker);

  font-size: 1.6em;
  font-family: var(--sans-fonts);
  font-weight: bold;
}

a {
  text-decoration: none;
}

.content-container {
  display: block;
  margin-top: var(--top-bar-height);
  min-height: calc(100vh - var(--top-bar-height));
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.center-wrapper {
  display: grid;
  place-content: center;
}

.top-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  inset: 0 0 auto 0;

  /*border-bottom: 2px solid var(--darker-blue);*/
  z-index: 1000;
  background-color: var(--primary-color);

  font-family: var(--sans-fonts);

  box-shadow: 0 0 .5em var(--primary-color-darker);
}

.top-bar h1 {
  margin: 0 1em;
  font-size: 1.5em;
  color: var(--text-color-light);
}

.top-bar nav {
  flex: 1;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links a {
  display: grid;
  place-content: center;
  padding: 1em;
}

.nav-links li {
  color: var(--text-color-light);
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;

  background-image: linear-gradient(var(--text-color-light), var(--text-color-light));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;

  transition: background-size 200ms;
}

.nav-links a:hover li {
  background-size: 100% 2px;
}

.activepage li {
  background-size: 100% 2px;
}

@media screen and (max-width: 1200px) {
  .column section {
    margin: 2em;
  }
}


@media screen and (max-width: 992px) {
  .column section {
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {

  body{
    overflow-x: hidden;
  }
  

  .nav-links {
    position: absolute;
    right: 0px;
    height: calc(100vh - var(--top-bar-height));
    top: var(--top-bar-height);
    background-color: var(--primary-color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }

  /*.nav-links a {
    opacity: 0;
  }*/

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

}