
  p {
    color: #fff;
    margin-top: 6rem;
    max-width: 45vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    position: absolute;
  }

  .title-text-container {
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 7rem;
    margin-inline: auto;
    text-align: center;
  }

  t {
    font-size: 1.5rem;
  }

  .previous-next-buttons {
    margin-top: 10rem;
    display:flex;
    margin-inline: auto;
  }

  .PNButtons {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    color: black;
    padding: 0.5rem;
    width: 7rem;
    text-align: center;
    font-size: 1rem;
    transition-duration: 0.2s;
    border-radius: 10px;
    margin-left: 11vw;
  }
  .PNButtons:hover {
    background-color: #262626;
    color: white;
  }

  input[type="text"] {
    width: 40vw;
    height: 4vh;
    text-align: top;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #adadad;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #919191;
  }

  .container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .text-container {
    width: auto;
    height: 35vw;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .bubble-ai, .bubble-user {
    width: fit-content;
    max-width: 25vw;
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: #fff;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
  }
  .bubble-ai {
    align-self: flex-start;
    background: linear-gradient(135deg,#0e0e0e, #111746) border-box;
  }

  .bubble-user {
    align-self: flex-end;
    background: linear-gradient(135deg,#111746,#0e0e0e) border-box;
  }

  .bubble-user span, .bubble-ai span {
    display: inline-block;
  }

  .left-side, .right-side {
    width: 50vw;
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  .left-side {
    background-color: #292929;
  }
  
  .right-side {
    background-color: #3d3d3d;
  }

 .v-textfield [type= text]{
    width: 43vw;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    position: left, bottom;
    top: 100%; 
    left: 0%;
  }
  .data-set-grid {
    margin-top: 10rem;
    width: 70vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-inline: 10rem;
  }

  .data-set-top {
    border-radius: 1rem;
    background-color: #444;
    margin-inline: auto;
    margin-top: 7vh;
    width: 20vh;
    height: 25vh;
    display: inline-grid;
    border: 2px solid white;
  }
  .data-set-bottom {
    border-radius: 1rem;
    background-color: #444;
    margin-inline: auto;
    margin-top: 5vh;
    width: 20vh;
    height: 25vh;
    display: inline-grid;
    border: 2px solid white;
  }

  d {
    color:#fff;
    font-size: 1rem;
    text-align: center;
  }

  .switch {
    position: relative;
    margin-inline: auto;
    width: 3.75rem;
    height: 2.125rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    margin-inline: auto;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.625rem;
    width: 1.625rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0.063rem #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.625rem);
    -ms-transform: translateX(1.625rem);
    transform: translateX(1.625rem);
  }
  
  .info {
    font-size: 1.063rem;
    padding-left: 0.313rem;
    display: inline;
    color: white;
  }
  
  .info:hover {
    color:#555;
  }

  * {
    transition: all .1s ease;
  }
  