
p {
  position: sticky;
  color: #fff;
  margin-top: 6rem;
  }

  input[type="text"] {
    margin-top: 70vh;
    width: 40vw;
    height: 4vh;
    text-align: top;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 0px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #adadad;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #919191;
  }

  .container {
    display: flex; /* Use flexbox for layout */
    height: 100vh; /* Full viewport height */
  }

  .text-container {
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .wide {
    width: 500px;
  }
  

  .left-side, .right-side {
    width: 50vw;
    padding: 20px; /* Add padding as needed */
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .left-side {

    background-color: #292929;
  }
  
  .right-side {
    background-color: #3d3d3d;
  }

  .prompts {
    position: relative;
  }

  .scroll {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
 } 

 .v-textfield [type= text]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    position: relative;
    top: 100%; 
    left: 0%;
  }
  