extends layout 

block header
  link(rel='stylesheet', href='/stylesheets/chat.css')
  

block content

  .container
    .left-side
      p(id='questions')
      .previous-next-buttons 
        button(type='button', id='previous', class="PNButtons") Previous
        button(type='button', id='next', class="PNButtons") Next
        div(style="margin: 20px")
        //input(type='text', id="answerInput", placeholder='Enter answer here')
        //button(type='button', id='answer', class="PNButtons") Submit
      hr
      .text-container
        #textContainers

      form(action='/chat', method='POST', id="chatForm")
        .v-textfield
          input(id='userInput', type='text', name='prompt', placeholder='Enter prompt here', autofocus)
          button(type='submit', id='sendToAI', class="PNButtons") Enter
      
          
    .right-side
      .title-text-container
        t  Toggle any of these datasets on or off, to see how the AI will respond with different data and biases
      .data-set-grid
        .data-set-top
          d Dataset One
            a(href="/chat/dataset?set=1",  class="button")
              i.icon-info-sign(class="info")
            hr
            d2 I wounder what this dataset might contain to affect my answer
            hr
          label.switch
            input(type='checkbox', name="data1", id="data1", checked = data1State )
            span.slider
        .data-set-top
          d Dataset Two
            a(href="/chat/dataset?set=2",  class="button")
                i.icon-info-sign(class="info")
            hr
            d2 Hmmm... what to do with this dataset. What could it be used for
            hr
          label.switch
            input(type='checkbox', name="data2", id="data2", checked = data2State )
            span.slider
        .data-set-bottom
          d Dataset Three
            a(href="/chat/dataset?set=3",  class="button")
              i.icon-info-sign(class="info")
            hr
            d2 Uhhh... what could this dataset possible be about
            hr
          label.switch
            input(type='checkbox', name="data3", id="data3", checked = data3State )
            span.slider
        .data-set-bottom
          d Dataset Four
              a(href="/chat/dataset?set=4",  class="button")
              i.icon-info-sign(class="info")
              hr
              d2 What could this be? I'm so curious
              hr
          label.switch
              input(type='checkbox', name="data4", id="data4", checked = data4State )
              span.slider

      .data-validate
      d Validate Answer
        hr
        input(type='text', id="answerInput", placeholder='Enter answer here')
        button(type='button', id='answer', class="PNButtons") Submit

  script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  script(src="javascripts/chatScript.js")

          