extends layout 

block header
  link(rel='stylesheet', href='/stylesheets/dataset.css')

block content
  .page-container
    h1(id = "headline")=headline
    hr
    p(id = "content")=content

    button(type="button", class="example", onclick="seeDataset()") See dataset
    #popup.popup
      code(id='csvContent')

  script.
    async function seeDataset() {
      var popup = document.getElementById('popup');
      popup.style.display = 'block';

      var overlay = document.createElement('div');
      overlay.className = 'overlay';
      document.body.appendChild(overlay);

      var csvContent = document.getElementById('csvContent');

      const selectHeadline = document.getElementById('headline').textContent;
      const headlines = ["Dataset one", "Dataset two", "Dataset three", "Dataset four"]
      const path = ["context1Movie.csv", "context2Shoes.csv", "context3Cookies.csv", "contextTrue.csv"]
      const response = await fetch('/datasets/' + path[headlines.indexOf(selectHeadline)], {
        method: 'GET',
        headers: {
          'Content-Type': 'text/csv'
        }
      });
      const csvText = await response.text();
      console.log(csvText);

      csvContent.textContent = csvText;

      window.onclick = function(event) {
        if (event.target == overlay) {
            popup.style.display = 'none';

            overlay.remove();
        }
      }
    }
